# Dashboard 

*Disclaimer: Das Dashboard wurde zun√§chst mit Vibe-Coding erstellt (ChatGPT) und dann manuell optimiert.*

Zum Abschluss des Projekts soll ein interaktives Dashboard mit Streamlit erstellt werden.

in einem ersten Schritt wird ein MVP (Minimal Viable Product) entworfen, um die Funktionalit√§ten zu entwickeln und zu testen. Das MVP enth√§lt nur Daten aus drei St√§dten: Hamburg, Berlin und Karlsruhe.

Der Datensatz f√ºr das MVP ist gespeichert als `test_dashboard_air_quality.csv`.

# üß≠ Plan f√ºr das Streamlit-Dashboard zur Luftqualit√§t

## ‚úÖ 1. Basisfunktionen (bereits umgesetzt oder fast fertig):

- Dropdown zur Stadtauswahl (Stadt A & Stadt B)
- Dropdown zur Schadstoffauswahl (z.‚ÄØB. PM2.5, NO‚ÇÇ, SO‚ÇÇ, O‚ÇÉ, CO)
- Liniendiagramm mit dem gew√§hlten Schadstoff √ºber die Zeit
- Vergleich zweier St√§dte im gemeinsamen Diagramm
- Achsen-Labels und Titel verbessern (PM2.5 statt ‚ÄûPm25‚Äú usw.)

## üß© 2. N√§chste Ausbaustufe (geplant):
a) Zus√§tzliche Filterm√∂glichkeiten

- Auswahl eines Jahres oder Monats (Slider oder Selectbox)
- Filter nach Jahreszeit (z.‚ÄØB. Fr√ºhling, Sommer...)

b) Statistische Kennzahlen

- Durchschnitt, Minimum, Maximum des gew√§hlten Schadstoffs f√ºr jede Stadt
- Darstellung unterhalb des Plots oder in einer kleinen Infobox

c) Darstellung Wetterdaten

- Auswahl eines Wetterparameters (Tavg, Humidity, etc.)
- Zweiter Plot oder zus√§tzliche Linie im selben Plot (Sekund√§rachse)

## üñº 3. Sp√§terer Ausbau (optional):
a) Interaktive Visualisierungen mit Plotly

- Hover-Effekte, dynamisches Zoomen, bessere Tooltips

b) Karte mit Clusterfarben

- z.‚ÄØB. St√§dte auf einer Karte mit Farben nach Cluster oder Mittelwert PM2.5

c) Infoboxen / Erl√§uterungen

- Kleine Textboxen mit verst√§ndlichen Erkl√§rungen zur Interpretation der Daten
- Z.‚ÄØB. ‚ÄûPM2.5 ist Feinstaub unter 2.5 Mikrometer‚Ä¶‚Äú

d) Dashboard mit Datums- und St√§dteauswahl

- Auswahl eines Datums ‚Üí Anzeige der Messwerte f√ºr alle Variablen
- Interaktive Heatmap oder Vergleichstabelle

## üìö Inhaltsverzeichnis 
(Diese Art von Inhaltsverzeichnis mit Link funktioniert leider in Notebooks nicht, weil die as JSON gespeichert werden und nicht als HTML...)

- [0. Datensatz laden](#0-datensatz-laden)
- [1. Dataframe f√ºr MVP vorbereiten]

# 0. Datensatz laden

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data/cleaned_air_quality_data_2025-03-27.csv")
df.head()

,Year,Month,Day,Country,City,Latitude,Longitude,Population,Co,No2,...,So2,Dew,Humidity,Tavg,Tmin,Tmax,Prcp,Wdir,Wspd,Pres
0,2019,2,28,SA,Abha,18.21639,42.50528,5616633.0,NaN,NaN,...,NaN,6.0,45.0,18.8,15.8,24.1,NaN,183.0,21.9,1022.3
1,2019,3,1,SA,Abha,18.21639,42.50528,5616633.0,NaN,NaN,...,NaN,12.0,64.0,17.0,13.5,23.0,NaN,185.0,21.2,1021.9
2,2019,3,2,SA,Abha,18.21639,42.50528,5616633.0,NaN,0.0,...,0.0,9.0,63.0,16.7,10.8,23.6,NaN,186.0,15.2,1022.3
3,2019,3,3,SA,Abha,18.21639,42.50528,5616633.0,NaN,0.0,...,0.0,6.0,55.0,15.9,10.8,22.0,NaN,196.0,16.5,1023.4
4,2019,3,4,SA,Abha,18.21639,42.50528,5616633.0,NaN,0.0,...,0.0,3.0,58.0,16.1,9.0,22.5,NaN,NaN,11.2,1023.8

# 1. Dataframe f√ºr MVP vorbereiten

F√ºr das MVP sollten drei St√§dte gew√§hlt werden, die m√∂glichst vollst√§ndige Messdaten f√ºr alle relevanten Variablen √ºbermittelt haben, damit die Funktionalit√§ten gut getestet werden k√∂nnen. Auch sollte die Anzahl an Datenpunkten pro Stadt ausreichend sein und den geamten relevanten Zeitraum abdecken.

In [5]:
# Optional: nur Spalten betrachten, die im Dashboard relevant sind
relevante_spalten = ["City", "Year", "Month", "Day", "Pm25", "Co", "No2", "So2", "O3", "Tavg", "Humidity"]
df = df[relevante_spalten]

# NaN-Anzahl je Stadt berechnen (√ºber alle relevanten Spalten hinweg)
stadt_nan = df.groupby("City").apply(lambda x: x.isna().sum().sum())

# Alternativ: Anteil an NaN-Werten je Stadt
stadt_nan_anteil = df.groupby("City").apply(lambda x: x.isna().mean().mean())

# Sortieren: St√§dte mit den wenigsten fehlenden Werten zuerst
stadt_nan = stadt_nan.sort_values()
stadt_nan_anteil = stadt_nan_anteil.sort_values()

# Die Top 10 anzeigen
print("St√§dte mit absolut wenigsten NaNs:")
print(stadt_nan.head(10))

print("\nSt√§dte mit dem geringsten Anteil an NaNs:")
print(stadt_nan_anteil.head(10))

St√§dte mit absolut wenigsten NaNs:
City
Saint petersburg      152
Shillong              279
Nizhniy novgorod      283
GhƒÅziƒÅbƒÅd             296
Bhopal                356
Thiruvananthapuram    405
Tuzla                 638
Chandigarh            643
Mysore                691
Patna                 707
dtype: int64

St√§dte mit dem geringsten Anteil an NaNs:
City
GhƒÅziƒÅbƒÅd             0.012943
Shillong              0.013238
Bhopal                0.014921
Thiruvananthapuram    0.016320
Chandigarh            0.023504
Tuzla                 0.023645
Patna                 0.024448
Delhi                 0.024937
Tokyo                 0.025256
Osaka                 0.025288
dtype: float64

/var/folders/9l/_gqvrbsd14zb0w_nlgtngd_w0000gn/T/ipykernel_46171/3330810853.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stadt_nan = df.groupby("City").apply(lambda x: x.isna().sum().sum())
/var/folders/9l/_gqvrbsd14zb0w_nlgtngd_w0000gn/T/ipykernel_46171/3330810853.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stadt_nan_anteil = df.groupby("City").apply(lambda x: x.isna().mean().mean())

In [6]:
# Liste der drei gew√ºnschten St√§dte
st√§dte = ["Delhi", "Tokyo", "Osaka"]

# Relevante Spalten definieren
relevante_spalten = ["Pm25", "Co", "No2", "So2", "O3", "Tavg", "Humidity"]

# DataFrame auf die drei St√§dte und die relevanten Spalten beschr√§nken
df_subset = df[df["City"].isin(st√§dte)][["City"] + relevante_spalten]

# Fehlende Werte je Stadt und Variable z√§hlen
fehlende_werte = df_subset.groupby("City").apply(lambda x: x[relevante_spalten].isna().sum())

# Alternativ: Anteil an NaN-Werten je Stadt und Variable
anteil_nan = df_subset.groupby("City").apply(lambda x: x[relevante_spalten].isna().mean())

# Ergebnisse anzeigen
print("Anzahl fehlender Werte:")
print(fehlende_werte)

print("\nAnteil fehlender Werte:")
print(anteil_nan.round(2))

Anzahl fehlender Werte:
       Pm25  Co  No2  So2  O3  Tavg  Humidity
City
Delhi     3   0    0    0   0    70       703
Osaka     0   0    0    0   0    67       718
Tokyo     0   0    0    0   0    67       717

Anteil fehlender Werte:
       Pm25   Co  No2  So2   O3  Tavg  Humidity
City
Delhi   0.0  0.0  0.0  0.0  0.0  0.02      0.25
Osaka   0.0  0.0  0.0  0.0  0.0  0.02      0.25
Tokyo   0.0  0.0  0.0  0.0  0.0  0.02      0.25

/var/folders/9l/_gqvrbsd14zb0w_nlgtngd_w0000gn/T/ipykernel_46171/1504590092.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  fehlende_werte = df_subset.groupby("City").apply(lambda x: x[relevante_spalten].isna().sum())
/var/folders/9l/_gqvrbsd14zb0w_nlgtngd_w0000gn/T/ipykernel_46171/1504590092.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  anteil_nan = df_subset.groupby("City").apply(lambda x: x[relevante_spalten].isna().mean())

In [7]:
# Test-DataFrame f√ºr das Dashboard erstellen
df_mvp = df[df["City"].isin(["Delhi", "Tokyo", "Osaka"])].copy()

# Relevante Spalten w√§hlen
columns = ["Year", "Month", "Day", "City", "Pm25", "Co", "No2", "So2", "O3", "Tavg", "Humidity"]
df_mvp = df_mvp[columns]

# F√ºrs MVP: nur Zeilen ohne NaNs behalten
df_mvp.dropna(inplace=True)

# In Datei speichern
df_mvp.to_csv("data/test_dashboard_air_quality.csv", index=False)

# Codeschnipsel, fass ich die noch mal brauche

# 1. Dokumentation

Was man sp√§ter beim Skalieren nicht vergesen darf:

Liniendiagramm:

‚úÖ Mein Plan f√ºr den skalierbaren Umgang mit mehr St√§dten:
üîπ 1. Stadtanzahl begrenzen (z.‚ÄØB. Top 10 nach Jahresmittelwert)

# Top 10 St√§dte mit h√∂chsten Mittelwerten im letzten Jahr
top_staedte = df_letztes_jahr.sort_values(by=auswahl, ascending=False).head(10)

So bleibt das Diagramm √ºbersichtlich und zeigt die ‚Äûinteressantesten F√§lle‚Äú zuerst.

üîπ 2. Farben automatisch generieren (mit Colormap)

Wir lassen Matplotlib die Farben aus einer Farbpalette w√§hlen ‚Äì z.‚ÄØB. "viridis", "plasma", "Set2", "tab10", etc.

import matplotlib.cm as cm
import numpy as np

# Colormap definieren
cmap = cm.get_cmap("tab10", len(top_staedte))

# Farben automatisch zuweisen
colors = [cmap(i) for i in range(len(top_staedte))]


Dann beim Plotten:

ax_bar.bar(
    top_staedte["City"],
    top_staedte[auswahl],
    color=colors
)

üîπ 3. Optional: Dropdown mit St√§dteauswahl oder Jahr

So kann man z.‚ÄØB. sagen:

    ‚ÄûZeig mir die Top 10 St√§dte im Jahr 2022‚Äú
    oder
    ‚ÄûZeig mir die 5 St√§dte mit der niedrigsten NO‚ÇÇ-Belastung im aktuellen Jahr‚Äú

üéÅ Fazit f√ºr sp√§ter:

Wenn du den Datensatz erweiterst, dann machen wir:

    intelligente Auswahl, z.‚ÄØB. Top 10

    automatische Farben

    flexible Steuerung durch Dropdown oder Slider

So bleibt dein Dashboard sch√∂n, verst√§ndlich und performant ‚Äì auch bei vielen St√§dten.