In [1]:
# imports
import pandas as pd
import os
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Settings for displaying floats
pd.set_option('display.float_format', '{:,.2f}'.format)

In [4]:
df = pd.read_csv("./data/cleaned_data.csv")
df.head()

,Date,Country,City,aqi,co,d,dew,humidity,mepaqi,no2,...,pol,precipitation,pressure,psi,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2014-12-29,AT,Vienna,NaN,0.10,NaN,NaN,NaN,NaN,9.00,...,NaN,NaN,NaN,NaN,2.60,NaN,NaN,NaN,NaN,NaN
1,2014-12-29,AU,Brisbane,NaN,1.90,NaN,NaN,NaN,NaN,4.60,...,NaN,NaN,NaN,NaN,1.10,NaN,NaN,NaN,NaN,NaN
2,2014-12-29,BE,Brussels,NaN,0.10,NaN,NaN,NaN,NaN,23.40,...,NaN,NaN,NaN,NaN,1.60,NaN,NaN,NaN,NaN,NaN
3,2014-12-29,BO,Cochabamba,NaN,NaN,NaN,NaN,NaN,NaN,3.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-29,BR,São Paulo,NaN,5.50,NaN,NaN,NaN,NaN,17.90,...,NaN,NaN,NaN,NaN,1.10,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dtypes

Date              object
Country           object
City              object
aqi              float64
co               float64
d                float64
dew              float64
humidity         float64
mepaqi           float64
no2              float64
o3               float64
pm1              float64
pm10             float64
pm25             float64
pol              float64
precipitation    float64
pressure         float64
psi              float64
so2              float64
temperature      float64
uvi              float64
wd               float64
wind-gust        float64
wind-speed       float64
dtype: object

In [6]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Split 'Date' column into 'year', 'month' and 'day'
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

# Remove 'Date' column
if 'Date' in df.columns:
    df.drop(columns=['Date'], inplace=True)

In [7]:
# Display the first 5 rows of the dataframe
df.sample(20)

,Country,City,aqi,co,d,dew,humidity,mepaqi,no2,o3,...,psi,so2,temperature,uvi,wd,wind-gust,wind-speed,year,month,day
43525,BA,Sarajevo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.80,2018,6,15
186255,BD,Dhaka,NaN,NaN,NaN,25.00,70.00,NaN,NaN,NaN,...,NaN,NaN,29.00,NaN,NaN,NaN,1.80,2023,10,7
194774,CZ,Ostrava,NaN,NaN,NaN,6.00,76.00,NaN,11.10,14.90,...,NaN,4.10,9.00,NaN,NaN,1.10,1.20,2024,2,27
51639,NO,Oslo,NaN,0.10,NaN,NaN,32.60,NaN,4.60,36.40,...,NaN,NaN,4.60,NaN,NaN,2.20,0.90,2019,3,31
23204,IN,Delhi,NaN,8.20,NaN,NaN,NaN,NaN,23.60,8.30,...,NaN,6.50,NaN,NaN,NaN,NaN,NaN,2017,2,9
106631,TJ,Dushanbe,NaN,NaN,NaN,5.00,84.00,NaN,NaN,NaN,...,NaN,NaN,8.00,NaN,NaN,NaN,1.50,2020,12,2
127123,KR,Seoul,NaN,4.50,NaN,24.00,NaN,NaN,19.50,19.20,...,NaN,4.30,NaN,NaN,NaN,NaN,NaN,2021,7,13
162627,LT,Kaunas,NaN,0.10,NaN,7.50,90.00,NaN,NaN,15.60,...,NaN,8.00,9.00,NaN,NaN,NaN,3.60,2022,11,11
87336,ID,Jakarta,NaN,NaN,NaN,24.00,72.00,NaN,NaN,NaN,...,NaN,NaN,29.50,NaN,NaN,4.20,3.00,2020,5,11
9630,US,Fresno,NaN,7.80,NaN,NaN,NaN,NaN,17.00,8.80,...,NaN,0.30,NaN,NaN,NaN,NaN,NaN,2015,12,30
3686,DE,Hamburg,NaN,0.10,NaN,NaN,NaN,NaN,7.40,20.40,...,NaN,3.60,NaN,NaN,NaN,NaN,NaN,2015,3,16
182215,VN,Hanoi,39.00,3.00,NaN,26.00,75.20,NaN,13.30,NaN,...,NaN,19.00,30.00,NaN,NaN,NaN,3.60,2023,6,28
101088,LA,Vientiane,NaN,NaN,NaN,26.00,83.50,NaN,NaN,NaN,...,NaN,NaN,28.50,NaN,NaN,NaN,1.00,2020,10,4
200278,EE,Tallinn,NaN,NaN,NaN,1.00,49.40,NaN,7.30,25.80,...,NaN,0.40,11.50,NaN,NaN,NaN,2.30,2024,5,2
33505,AU,Brisbane,NaN,0.10,NaN,NaN,NaN,NaN,0.10,0.10,...,NaN,0.10,NaN,NaN,NaN,NaN,NaN,2018,1,21
64122,PL,Łódź,NaN,3.70,NaN,NaN,55.10,NaN,9.20,31.60,...,NaN,1.20,26.10,NaN,NaN,7.00,4.80,2019,8,27
40029,MK,Skopje,NaN,0.10,NaN,NaN,NaN,NaN,10.70,10.50,...,NaN,1.00,NaN,NaN,NaN,NaN,NaN,2018,4,26
73981,IE,Dublin,NaN,NaN,NaN,6.50,93.00,NaN,21.40,29.70,...,NaN,0.50,8.00,NaN,NaN,10.10,5.50,2019,12,19
167691,KG,Bishkek,NaN,NaN,NaN,-5.00,92.00,NaN,NaN,NaN,...,NaN,NaN,-3.00,NaN,NaN,NaN,3.00,2023,1,10
196743,TM,Ashgabat,NaN,NaN,NaN,8.00,62.00,NaN,NaN,NaN,...,NaN,NaN,14.00,NaN,NaN,NaN,3.00,2024,3,21

In [8]:
# Funktion für Übersicht über dtypes, missing values, unique values etc.
def overview(df):
    '''
    Erstelle einen Überblick über einige Eigenschaften der Spalten eines DataFrames.
    VARs
        df: Der zu betrachtende DataFrame
    RETURNS:
        None
    '''
    display(pd.DataFrame({'dtype': df.dtypes,
                          'total': df.count(),
                          'missing': df.isna().sum(),
                          'missing%': df.isna().mean()*100,
                          'n_uniques': df.nunique(),
                          'uniques%': df.nunique()/df.shape[0]*100,
                          'uniques': [df[col].unique() for col in df.columns]
                         }))

In [9]:
overview(df)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Country,object,225860,0,0.00,95,0.04,"[AT, AU, BE, BO, BR, CA, CH, CL, CN, CO, CY, C..."
City,object,225860,0,0.00,95,0.04,"[Vienna, Brisbane, Brussels, Cochabamba, São P..."
aqi,float64,6268,219592,97.22,302,0.13,"[nan, 27.0, 28.0, 35.0, 50.0, 59.0, 52.0, 53.0..."
co,float64,133731,92129,40.79,508,0.22,"[0.1, 1.9, nan, 5.5, 4.2, 16.1, 5.1, 3.1, 2.2,..."
d,float64,272,225588,99.88,48,0.02,"[nan, -24.0, -26.0, -27.0, -25.0, 7.0, 0.0, -4..."
dew,float64,146267,79593,35.24,515,0.23,"[nan, 16.0, 14.0, 18.0, 1.0, 7.0, 4.0, 5.0, 20..."
humidity,float64,182043,43817,19.40,937,0.41,"[nan, 84.0, 76.5, 32.0, 22.0, 58.0, 76.0, 81.0..."
mepaqi,float64,2765,223095,98.78,809,0.36,"[nan, 81.0, 81.3, 48.2, 115.8, 59.5, 62.9, 62...."
no2,float64,158692,67168,29.74,683,0.30,"[9.0, 4.6, 23.4, 3.0, 17.9, 4.7, 4.4, 13.6, na..."
o3,float64,151424,74436,32.96,936,0.41,"[nan, 3.7, 2.9, 4.3, 19.5, 20.0, 10.6, 9.4, 21..."
pm1,float64,3290,222570,98.54,448,0.20,"[nan, 153.0, 154.0, 155.0, 158.0, 161.0, 142.0..."
pm10,float64,167860,58000,25.68,896,0.40,"[20.0, 11.0, 25.0, nan, 5.0, 17.0, 49.0, 127.0..."
pm25,float64,206309,19551,8.66,755,0.33,"[65.0, 20.0, 71.0, nan, 50.0, 21.0, 12.0, 182...."
pol,float64,933,224927,99.59,7,0.00,"[nan, 0.0, 8.0, -549.6, -3065.6, -2316.8, 1.0,..."
precipitation,float64,16015,209845,92.91,249,0.11,"[nan, 2.0, 3.0, 0.0, 4.0, 20.0, 0.1, 8.0, 28.0..."
pressure,float64,181945,43915,19.44,2177,0.96,"[nan, 1017.0, 1019.0, 1025.0, 1022.0, 1016.0, ..."
psi,float64,363,225497,99.84,49,0.02,"[nan, 57.0, 41.0, 46.0, 48.0, 39.0, 34.0, 27.0..."
so2,float64,151886,73974,32.75,628,0.28,"[2.6, 1.1, 1.6, nan, 0.7, 14.0, 56.1, 0.8, 1.7..."
temperature,float64,182062,43798,19.39,662,0.29,"[nan, 5.6, 5.5, 10.0, 13.7, 15.5, 13.1, 11.3, ..."
uvi,float64,9480,216380,95.80,48,0.02,"[nan, -1.0, 3.0, 2.0, 4.0, 1.0, 0.8, 0.4, 0.6,..."
wd,float64,16448,209412,92.72,2000,0.89,"[nan, 170.0, 330.0, 320.0, 310.0, 250.0, 40.0,..."
wind-gust,float64,106220,119640,52.97,365,0.16,"[nan, 1.5, 1.7, 0.9, 5.0, 5.3, 2.8, 3.9, 2.6, ..."
wind-speed,float64,177904,47956,21.23,195,0.09,"[nan, 2.0, 1.3, 0.9, 4.9, 5.8, 3.1, 1.8, 0.2, ..."
year,int32,225860,0,0.00,12,0.01,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 202..."
month,int32,225860,0,0.00,12,0.01,"[12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"
day,int32,225860,0,0.00,31,0.01,"[29, 30, 31, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11..."

In [10]:
missing_values = df.isna().mean() * 100  # Prozent der fehlenden Werte berechnen
missing_values_sorted = missing_values.sort_values(ascending=False)  # Nach aufsteigender Reihenfolge sortieren

print(missing_values_sorted)

d               99.88
psi             99.84
pol             99.59
mepaqi          98.78
pm1             98.54
aqi             97.22
uvi             95.80
precipitation   92.91
wd              92.72
wind-gust       52.97
co              40.79
dew             35.24
o3              32.96
so2             32.75
no2             29.74
pm10            25.68
wind-speed      21.23
pressure        19.44
humidity        19.40
temperature     19.39
pm25             8.66
month            0.00
year             0.00
Country          0.00
City             0.00
day              0.00
dtype: float64

In [14]:
missing_percent = df.isna().mean() * 100  

# Spalten auswählen, die weniger als 50% fehlende Werte haben
df_cleaned = df.loc[:, missing_percent <= 53]

# Ergebnis ausgeben
print(f"Anzahl der entfernten Spalten: {df.shape[1] - df_cleaned.shape[1]}")
print("Übrige Spalten:", df_cleaned.columns)

df.shape

Anzahl der entfernten Spalten: 10
Übrige Spalten: Index(['Country', 'City', 'co', 'dew', 'humidity', 'no2', 'o3', 'pm10', 'pm25',
       'pressure', 'so2', 'temperature', 'wind gust', 'wind-speed', 'year',
       'month', 'day'],
      dtype='object')

(225860, 27)