In [ ]:
import pandas as pd

In [50]:
file_path = "/Users/mareikekeller/air_quality/data/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")

In [51]:
df.sample(20)

,Date,Country,City,Specie,count,min,max,median,variance
645050,2024-04-21,MX,Morelia,pm25,23,18.0,70.0,51.0,1809.29
23598,2024-04-04,TW,Taipei,pm25,738,21.0,122.0,76.0,2091.45
1739187,2024-12-26,MY,Kuantan,pressure,100,1009.0,1014.0,1011.0,14.71
927982,2024-03-13,HU,Miskolc,pm10,120,3.0,41.0,16.0,697.65
938082,2024-08-23,NL,Utrecht,wind-speed,63,0.2,6.5,3.0,32.69
21060,2024-11-16,TW,Taipei,wind-gust,120,1.0,23.7,16.7,633.21
1630675,2024-04-03,CN,Wuhan,wind-speed,216,0.5,4.6,2.5,11.99
1570157,2024-07-02,CN,Foshan,co,81,2.8,7.3,3.7,10.12
1531247,2024-06-15,CN,Shenzhen,wind-speed,138,0.1,7.7,2.6,43.85
897840,2025-01-29,IN,Kolkata,humidity,264,22.2,99.9,73.7,3400.89
328630,2024-05-29,AU,Wollongong,pm25,42,2.0,66.0,47.0,3388.25
260136,2024-05-15,US,Madison,wind-speed,44,0.1,3.4,1.6,6.86
1796620,2025-02-08,RE,Saint-Denis,pm10,91,2.0,28.0,7.0,561.64
2175776,2024-08-17,JP,Utsunomiya,co,117,1.2,2.3,1.2,3.05
935679,2024-01-31,HU,Budapest,dew,22,-8.0,-2.0,-3.5,43.90
694721,2024-03-15,PL,Tarnów,wind-speed,44,0.2,2.0,1.0,3.40
1598695,2024-06-24,CN,Shijiazhuang,o3,213,17.5,66.9,42.3,1862.30
1529313,2024-08-16,CN,Guiyang,no2,72,1.4,13.8,4.6,65.83
1435820,2024-01-23,TR,Trabzon,humidity,120,67.5,88.3,80.0,317.89
2312696,2024-04-20,IL,Netanya,no2,66,0.4,18.8,2.8,171.16

In [ ]:
df.shape

In [ ]:
# df.describe()

In [ ]:
# Einzigartige Werte in der Spalte Specie
einzigartige_werte = df['Specie'].unique()
print(einzigartige_werte)

In [ ]:
# Einzigartige Werte in der Spalte Country
einzigartige_werte = df['Country'].unique()
countries_sorted = sorted(einzigartige_werte)

for country in countries_sorted:
    print(country)

In [ ]:
mask_top_five_cities = (df['City'] == "Abu Dhabi") | (df['City'] == "Buenos Aires") | (df['City'] == "Vienna") | (df['City'] == "Brisbane") | (df['City'] == "Sarajevo")
df_top_five_cities = df[mask_top_five_cities]
df_top_five_cities.sample(50)

In [ ]:
mask_year = df_top_five_cities['Date'].str.startswith('2019')
df_top_five_cities_2019 = df_top_five_cities[mask_year]
df_top_five_cities_2019

In [ ]:
print(f"{'column':<20}{'# unique values'}")
print("-"*40)
for column in df.columns:
    print(f"{column:<20}{df[column].nunique()}")

In [52]:
mask_london = (df['City'] == "London") & (df['Date'] == "2025-01-08")
df_london = df[mask_london]
print(df_london)

               Date Country    City       Specie  count    min     max  \
2013097  2025-01-08      CA  London         pm25     33    5.0    17.0
2013246  2025-01-08      CA  London          no2     48    0.6     9.5
2013768  2025-01-08      CA  London     humidity     47   75.0    90.8
2014141  2025-01-08      CA  London           o3     48   24.1    33.6
2014679  2025-01-08      CA  London     pressure     47  986.2  1022.8
2014973  2025-01-08      CA  London   wind-speed     43    0.2     6.4
2015342  2025-01-08      CA  London    wind-gust     23    0.4     8.4
2016025  2025-01-08      CA  London          dew     20  -13.0    -9.0
2016297  2025-01-08      CA  London  temperature     47  -11.0    -6.9
2240923  2025-01-08      GB  London   wind-speed    473    0.1     5.7
2241376  2025-01-08      GB  London    wind-gust    349    0.2    10.8
2241510  2025-01-08      GB  London           co    192    1.5     6.8
2241860  2025-01-08      GB  London  temperature    576   -2.0     3.0
2242542  2025-01-08      GB  London         pm10    483    2.0    52.0
2242637  2025-01-08      GB  London     humidity    576   80.0    99.0
2243236  2025-01-08      GB  London          no2    462    4.3    38.0
2243853  2025-01-08      GB  London          dew     72   -1.0     1.0
2244234  2025-01-08      GB  London           o3    226    0.6    20.8
2244584  2025-01-08      GB  London          so2    167    0.3     2.7
2244883  2025-01-08      GB  London         pm25    479    5.0    97.0
2245376  2025-01-08      GB  London     pressure    576  997.2  1030.7

         median  variance
2013097     9.0    109.39
2013246     1.2     71.54
2013768    84.5    182.32
2014141    28.9     69.99
2014679   990.0   2768.35
2014973     2.7     17.57
2015342     3.8     52.41
2016025   -12.0     18.62
2016297    -9.2     11.29
2240923     2.2     19.42
2241376     5.3     79.36
2241510     4.6     24.95
2241860     1.1     12.07
2242542    14.0    391.86
2242637    90.0    140.53
2243236    21.5    492.28
2243853     0.0      5.42
2244234     6.0    266.90
2244584     1.0      2.54
2244883    39.0   2006.72
2245376  1002.3    334.12

In [ ]:
# unique values per column
print(f"{'column':<20}{'# unique values'}")
print("-"*40)
for column in df.columns:
    print(f"{column:<20}{df[column].nunique()}")

In [ ]:
# All measurements for London on 2025-01-08
mask_london = (df['City'] == "London") & (df['Date'] == "2025-01-08")
df_london = df[mask_london]
df_london

In [ ]:
# Are there any missing values?
df.isna().sum()

In [ ]:
# Which data types are in the dataframe?
df.dtypes

In [ ]:
# How many measurements are there for each country?
pd.crosstab(df['Country'], 'count').sort_values('count', ascending=False)

In [ ]:
# Whoch countries have the highest number of measurements?
countries_count = df.loc[:, 'Country'].value_counts()
print(countries_count.head(10))

In [ ]:
# Whoch cities per country have the highest number of measurements?
city_counts = df.groupby(["Country", "City"]).size().reset_index(name="count")

# Für jedes Land die Stadt mit den meisten Einträgen finden
max_city_per_country = city_counts.loc[city_counts.groupby("Country")["count"].idxmax()]

# Ergebnisse anzeigen
print(max_city_per_country)

Prä-EDA mit Mini-Datensatz

In [53]:
import pandas as pd

In [54]:
file_path = "/Users/mareikekeller/air_quality/data/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")

In [55]:
mask_top_five_cities = (df['City'] == "Abu Dhabi") | (df['City'] == "Buenos Aires") | (df['City'] == "Vienna") | (df['City'] == "Brisbane") | (df['City'] == "Sarajevo")
df_top_five_cities = df[mask_top_five_cities]

In [56]:
df_top_five_cities_pivot = df_top_five_cities.pivot(index=["Date", "Country", "City"], columns="Specie", values=["median", 'count']).reset_index()
df_top_five_cities_pivot.columns = ['_'.join(col).strip('_') for col in df_top_five_cities_pivot.columns]
df_top_five_cities_pivot

,Date,Country,City,median_co,median_dew,median_humidity,median_no2,median_o3,median_pm10,median_pm25,...,count_o3,count_pm10,count_pm25,count_precipitation,count_pressure,count_so2,count_temperature,count_wd,count_wind-gust,count_wind-speed
0,2024-01-01,AE,Abu Dhabi,0.1,19.0,73.0,8.1,21.2,50.0,53.0,...,119.0,120.0,24.0,NaN,192.0,120.0,192.0,NaN,NaN,184.0
1,2024-01-01,AR,Buenos Aires,1.9,15.8,63.0,4.6,12.2,14.0,34.0,...,24.0,75.0,24.0,2.0,92.0,8.0,92.0,21.0,48.0,92.0
2,2024-01-01,AT,Vienna,0.1,1.9,72.7,4.2,NaN,6.0,17.0,...,NaN,356.0,296.0,36.0,408.0,59.0,408.0,NaN,336.0,402.0
3,2024-01-01,AU,Brisbane,1.5,20.4,87.0,1.9,10.6,9.0,15.0,...,72.0,215.0,212.0,102.0,216.0,5.0,208.0,216.0,26.0,216.0
4,2024-01-01,BA,Sarajevo,1.6,6.0,96.5,15.6,25.2,21.0,76.0,...,144.0,121.0,98.0,6.0,144.0,115.0,144.0,NaN,6.0,144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2052,2025-02-17,AR,Buenos Aires,NaN,19.4,87.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.0,NaN,26.0,NaN,NaN,13.0
2053,2025-02-17,AT,Vienna,0.1,-9.0,70.2,9.6,NaN,26.0,76.0,...,NaN,235.0,216.0,NaN,265.0,43.0,265.0,NaN,152.0,157.0
2054,2025-02-17,AU,Brisbane,0.7,16.4,58.5,2.3,8.6,23.0,27.0,...,69.0,216.0,216.0,NaN,203.0,19.0,214.0,192.0,24.0,214.0
2055,2025-02-17,BA,Sarajevo,3.7,-4.0,86.0,12.4,15.6,31.0,91.0,...,86.0,102.0,101.0,NaN,107.0,102.0,107.0,NaN,NaN,107.0
2056,2025-02-18,AU,Brisbane,0.4,16.1,64.2,1.9,8.2,19.0,24.0,...,6.0,18.0,18.0,NaN,18.0,2.0,18.0,16.0,2.0,18.0

In [58]:
df_eda = df_top_five_cities_pivot.copy()
df_eda.sample(20)

,Date,Country,City,median_co,median_dew,median_humidity,median_no2,median_o3,median_pm10,median_pm25,...,count_o3,count_pm10,count_pm25,count_precipitation,count_pressure,count_so2,count_temperature,count_wd,count_wind-gust,count_wind-speed
1950,2025-01-27,AT,Vienna,0.1,3.3,83.8,14.7,NaN,20.0,57.0,...,NaN,339.0,313.0,NaN,358.0,45.0,358.0,NaN,213.0,284.0
1914,2025-01-20,AR,Buenos Aires,2.7,16.0,75.3,3.2,NaN,17.0,NaN,...,NaN,35.0,NaN,NaN,72.0,NaN,72.0,NaN,24.0,24.0
559,2024-04-22,AT,Vienna,0.1,-0.8,68.0,5.3,NaN,12.0,42.0,...,NaN,330.0,293.0,4.0,357.0,44.0,357.0,NaN,269.0,345.0
1976,2025-02-01,AU,Brisbane,NaN,21.5,70.2,1.4,5.7,11.0,14.0,...,66.0,188.0,188.0,17.0,203.0,8.0,175.0,153.0,23.0,175.0
1516,2024-11-01,AT,Vienna,0.1,8.7,87.5,8.7,NaN,19.0,57.0,...,NaN,331.0,300.0,12.0,360.0,70.0,360.0,NaN,247.0,282.0
666,2024-05-13,BA,Sarajevo,0.6,7.5,63.0,7.4,37.0,11.0,38.0,...,138.0,140.0,132.0,NaN,144.0,58.0,144.0,NaN,NaN,144.0
1841,2025-01-05,AU,Brisbane,5.7,17.6,63.9,2.3,4.9,12.0,18.0,...,70.0,216.0,216.0,3.0,216.0,NaN,212.0,188.0,93.0,206.0
419,2024-03-24,BA,Sarajevo,2.1,2.0,86.0,10.1,34.2,12.0,53.0,...,144.0,142.0,138.0,3.0,144.0,128.0,144.0,NaN,NaN,144.0
629,2024-05-06,AT,Vienna,0.1,11.5,68.7,6.0,NaN,10.0,21.0,...,NaN,331.0,295.0,18.0,360.0,82.0,360.0,NaN,272.0,316.0
906,2024-07-02,AR,Buenos Aires,6.1,4.3,78.2,14.2,NaN,36.0,NaN,...,NaN,61.0,NaN,NaN,72.0,NaN,72.0,NaN,48.0,69.0
389,2024-03-18,BA,Sarajevo,2.0,4.0,88.7,14.2,26.0,17.0,65.0,...,141.0,138.0,144.0,3.0,144.0,123.0,144.0,NaN,NaN,144.0
1978,2025-02-02,AE,Abu Dhabi,0.1,11.0,56.0,14.7,43.5,60.0,72.0,...,68.0,91.0,115.0,NaN,192.0,91.0,192.0,NaN,NaN,190.0
558,2024-04-22,AR,Buenos Aires,2.0,16.9,91.6,10.6,12.6,11.0,38.0,...,24.0,87.0,24.0,18.0,95.0,NaN,95.0,19.0,72.0,95.0
292,2024-02-28,AT,Vienna,0.1,4.6,74.0,7.4,NaN,19.0,59.0,...,NaN,330.0,304.0,8.0,360.0,69.0,360.0,NaN,288.0,335.0
1187,2024-08-27,AU,Brisbane,3.0,19.5,84.5,5.5,9.0,20.0,40.0,...,57.0,215.0,215.0,NaN,212.0,18.0,209.0,184.0,39.0,204.0
1847,2025-01-06,BA,Sarajevo,1.5,3.0,79.0,13.3,33.3,15.0,25.0,...,144.0,144.0,139.0,NaN,144.0,142.0,144.0,NaN,6.0,144.0
1947,2025-01-26,BA,Sarajevo,2.7,0.0,81.5,12.6,24.0,36.0,87.0,...,144.0,144.0,134.0,NaN,144.0,144.0,144.0,NaN,12.0,144.0
362,2024-03-13,AT,Vienna,0.1,4.0,71.0,5.1,NaN,11.0,38.0,...,NaN,323.0,295.0,NaN,306.0,49.0,360.0,NaN,240.0,270.0
895,2024-06-30,AE,Abu Dhabi,0.1,23.0,52.0,20.8,25.1,93.0,162.0,...,69.0,138.0,155.0,NaN,168.0,136.0,168.0,NaN,NaN,162.0
1096,2024-08-09,AT,Vienna,0.1,15.7,59.2,3.9,NaN,8.0,21.0,...,NaN,298.0,236.0,NaN,360.0,57.0,360.0,NaN,277.0,288.0

In [61]:
# Lege Darstellungsoptionen, Warnungsunterdrückungen etc. fest
pd.set_option('display.float_format', '{:,.2f}'.format)

In [ ]:
df_eda.isna().sum()

# Wenn Werte fehlen, dann immer bei beiden Überkategorien, Median und Count.

Date                       0
Country                    0
City                       0
median_co                 62
median_dew                 9
median_humidity            1
median_no2                66
median_o3                692
median_pm10               48
median_pm25              268
median_precipitation    1246
median_pressure            1
median_so2               356
median_temperature         3
median_wd               1497
median_wind-gust         760
median_wind-speed          2
count_co                  62
count_dew                  9
count_humidity             1
count_no2                 66
count_o3                 692
count_pm10                48
count_pm25               268
count_precipitation     1246
count_pressure             1
count_so2                356
count_temperature          3
count_wd                1497
count_wind-gust          760
count_wind-speed           2
dtype: int64

In [64]:
# Zeige eine Übersicht
def overview(df):
    '''
    Erstelle einen Überblick über einige Eigenschaften der Spalten eines DataFrames.
    VARs
        df: Der zu betrachtende DataFrame
    RETURNS:
        None
    '''
    display(pd.DataFrame({'dtype': df.dtypes,
                          'total': df.count(),
                          'missing': df.isna().sum(),
                          'missing%': df.isna().mean()*100,
                          'n_uniques': df.nunique(),
                          'uniques%': df.nunique()/df.shape[0]*100,
                          'uniques': [df[col].unique() for col in df.columns]
                         }))
overview(df_eda)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Date,object,2057,0,0.00,415,20.18,"[2024-01-01, 2024-01-02, 2024-01-03, 2024-01-0..."
Country,object,2057,0,0.00,5,0.24,"[AE, AR, AT, AU, BA]"
City,object,2057,0,0.00,5,0.24,"[Abu Dhabi, Buenos Aires, Vienna, Brisbane, Sa..."
median_co,float64,1995,62,3.01,115,5.59,"[0.1, 1.9, 1.5, 1.6, 2.0, 1.4, 2.1, 2.6, 1.2, ..."
median_dew,float64,2048,9,0.44,312,15.17,"[19.0, 15.8, 1.9, 20.4, 6.0, 15.0, 18.3, 0.4, ..."
median_humidity,float64,2056,1,0.05,455,22.12,"[73.0, 63.0, 72.7, 87.0, 96.5, 60.0, 75.3, 78...."
median_no2,float64,1991,66,3.21,230,11.18,"[8.1, 4.6, 4.2, 1.9, 15.6, 6.8, 6.0, 14.7, 2.3..."
median_o3,float64,1365,692,33.64,316,15.36,"[21.2, 12.2, nan, 10.6, 25.2, 23.6, 7.0, 23.2,..."
median_pm10,float64,2009,48,2.33,141,6.85,"[50.0, 14.0, 6.0, 9.0, 21.0, 53.0, 18.0, 11.0,..."
median_pm25,float64,1789,268,13.03,183,8.90,"[53.0, 34.0, 17.0, 15.0, 76.0, 70.0, 46.0, 25...."
median_precipitation,float64,811,1246,60.57,54,2.63,"[nan, 99.0, 99.2, 1.8, 0.2, 0.4, 1.2, 99.4, 0...."
median_pressure,float64,2056,1,0.05,383,18.62,"[1017.0, 1011.5, 993.2, 1016.7, 1013.0, 1011.4..."
median_so2,float64,1701,356,17.31,139,6.76,"[4.2, 2.6, 1.1, 0.6, 6.1, 5.7, 5.1, 5.6, 7.6, ..."
median_temperature,float64,2054,3,0.15,313,15.22,"[24.0, 24.2, 6.5, 22.3, 7.0, 23.0, 23.6, 5.0, ..."
median_wd,float64,560,1497,72.78,199,9.67,"[nan, 67.5, 166.0, 112.5, 156.0, 169.0, 90.0, ..."
median_wind-gust,float64,1297,760,36.95,171,8.31,"[nan, 9.1, 9.3, 10.0, 6.1, 11.3, 3.5, 10.2, 17..."
median_wind-speed,float64,2055,2,0.10,77,3.74,"[3.0, 3.3, 4.0, 1.5, 3.6, 5.1, 1.9, 1.0, 2.5, ..."
count_co,float64,1995,62,3.01,127,6.17,"[24.0, 68.0, 36.0, 140.0, 70.0, 57.0, 141.0, 6..."
count_dew,float64,2048,9,0.44,237,11.52,"[132.0, 44.0, 249.0, 192.0, 135.0, 100.0, 48.0..."
count_humidity,float64,2056,1,0.05,194,9.43,"[186.0, 92.0, 408.0, 216.0, 144.0, 184.0, 96.0..."
count_no2,float64,1991,66,3.21,204,9.92,"[120.0, 47.0, 351.0, 134.0, 115.0, 364.0, 125...."
count_o3,float64,1365,692,33.64,113,5.49,"[119.0, 24.0, nan, 72.0, 144.0, 120.0, 69.0, 2..."
count_pm10,float64,2009,48,2.33,274,13.32,"[120.0, 75.0, 356.0, 215.0, 121.0, 69.0, 358.0..."
count_pm25,float64,1789,268,13.03,245,11.91,"[24.0, 296.0, 212.0, 98.0, 292.0, 96.0, 23.0, ..."
count_precipitation,float64,811,1246,60.57,78,3.79,"[nan, 2.0, 36.0, 102.0, 6.0, 27.0, 95.0, 3.0, ..."
count_pressure,float64,2056,1,0.05,162,7.88,"[192.0, 92.0, 408.0, 216.0, 144.0, 184.0, 96.0..."
count_so2,float64,1701,356,17.31,170,8.26,"[120.0, 8.0, 59.0, 5.0, 115.0, 4.0, 74.0, 12.0..."
count_temperature,float64,2054,3,0.15,156,7.58,"[192.0, 92.0, 408.0, 208.0, 144.0, 184.0, 96.0..."
count_wd,float64,560,1497,72.78,81,3.94,"[nan, 21.0, 216.0, 17.0, 203.0, 10.0, 213.0, 1..."
count_wind-gust,float64,1297,760,36.95,271,13.17,"[nan, 48.0, 336.0, 26.0, 6.0, 282.0, 30.0, 323..."
count_wind-speed,float64,2055,2,0.10,260,12.64,"[184.0, 92.0, 402.0, 216.0, 144.0, 96.0, 354.0..."

In [66]:
mask_brisbane = (df_eda['City'] == "Brisbane")
df_brisbane = df_eda[mask_brisbane]
df_brisbane

,Date,Country,City,median_co,median_dew,median_humidity,median_no2,median_o3,median_pm10,median_pm25,...,count_o3,count_pm10,count_pm25,count_precipitation,count_pressure,count_so2,count_temperature,count_wd,count_wind-gust,count_wind-speed
3,2024-01-01,AU,Brisbane,1.50,20.40,87.00,1.90,10.60,9.00,15.00,...,72.00,215.00,212.00,102.00,216.00,5.00,208.00,216.00,26.00,216.00
8,2024-01-02,AU,Brisbane,1.40,20.40,85.90,2.30,7.00,11.00,17.00,...,69.00,216.00,212.00,95.00,201.00,12.00,208.00,203.00,30.00,203.00
13,2024-01-03,AU,Brisbane,1.50,19.50,70.00,1.90,5.70,15.00,23.00,...,72.00,212.00,216.00,8.00,216.00,10.00,211.00,213.00,24.00,213.00
18,2024-01-04,AU,Brisbane,1.20,21.10,72.40,2.30,4.90,10.00,15.00,...,70.00,215.00,213.00,NaN,201.00,10.00,206.00,214.00,24.00,214.00
23,2024-01-05,AU,Brisbane,1.50,20.80,68.80,2.80,7.80,10.00,18.00,...,67.00,203.00,212.00,11.00,208.00,11.00,206.00,207.00,24.00,206.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,2025-02-14,AU,Brisbane,0.50,21.40,73.00,3.20,4.50,17.00,20.00,...,69.00,216.00,214.00,5.00,208.00,12.00,206.00,184.00,44.00,206.00
2044,2025-02-15,AU,Brisbane,0.40,23.20,79.00,2.30,5.30,11.00,15.00,...,70.00,216.00,216.00,10.00,208.00,37.00,210.00,186.00,39.00,206.00
2049,2025-02-16,AU,Brisbane,0.40,20.90,65.40,1.40,11.00,13.00,18.00,...,72.00,206.00,212.00,2.00,206.00,19.00,215.00,192.00,23.00,215.00
2054,2025-02-17,AU,Brisbane,0.70,16.40,58.50,2.30,8.60,23.00,27.00,...,69.00,216.00,216.00,NaN,203.00,19.00,214.00,192.00,24.00,214.00
2056,2025-02-18,AU,Brisbane,0.40,16.10,64.20,1.90,8.20,19.00,24.00,...,6.00,18.00,18.00,NaN,18.00,2.00,18.00,16.00,2.00,18.00

In [67]:
overview(df_brisbane)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Date,object,415,0,0.00,415,100.00,"[2024-01-01, 2024-01-02, 2024-01-03, 2024-01-0..."
Country,object,415,0,0.00,1,0.24,[AU]
City,object,415,0,0.00,1,0.24,[Brisbane]
median_co,float64,410,5,1.20,77,18.55,"[1.5, 1.4, 1.2, 1.0, 2.0, 1.7, 2.1, 2.5, 2.2, ..."
median_dew,float64,415,0,0.00,166,40.00,"[20.4, 19.5, 21.1, 20.8, 18.4, 18.9, 22.9, 23...."
median_humidity,float64,415,0,0.00,234,56.39,"[87.0, 85.9, 70.0, 72.4, 68.8, 70.1, 70.2, 84...."
median_no2,float64,413,2,0.48,21,5.06,"[1.9, 2.3, 2.8, 1.4, 3.2, 3.7, 4.2, 4.6, 5.5, ..."
median_o3,float64,413,2,0.48,31,7.47,"[10.6, 7.0, 5.7, 4.9, 7.8, 6.1, 2.9, 2.5, 3.3,..."
median_pm10,float64,413,2,0.48,25,6.02,"[9.0, 11.0, 15.0, 10.0, 12.0, 14.0, 17.0, 19.0..."
median_pm25,float64,413,2,0.48,45,10.84,"[15.0, 17.0, 23.0, 18.0, 16.0, 22.0, 20.0, 27...."
median_precipitation,float64,234,181,43.61,38,9.16,"[1.8, 1.2, 1.0, nan, 0.2, 0.6, 0.4, 0.9, 1.4, ..."
median_pressure,float64,415,0,0.00,190,45.78,"[1016.7, 1014.5, 1012.5, 1012.2, 1013.3, 1016...."
median_so2,float64,404,11,2.65,8,1.93,"[0.6, 1.1, nan, 1.6, 2.1, 14.7, 4.6, 3.6, 2.6]"
median_temperature,float64,413,2,0.48,140,33.73,"[22.3, 22.8, 25.6, 26.4, 24.1, 23.5, 25.5, 26...."
median_wd,float64,413,2,0.48,190,45.78,"[166.0, 156.0, 169.0, 138.0, 145.0, 153.0, 143..."
median_wind-gust,float64,415,0,0.00,97,23.37,"[10.0, 10.2, 9.7, 7.7, 12.5, 14.0, 11.2, 4.7, ..."
median_wind-speed,float64,413,2,0.48,27,6.51,"[1.5, 1.9, 1.4, 2.0, 2.7, 1.3, 1.6, 2.1, 1.8, ..."
count_co,float64,410,5,1.20,41,9.88,"[24.0, 22.0, 36.0, 34.0, 26.0, 19.0, 23.0, 20...."
count_dew,float64,415,0,0.00,48,11.57,"[192.0, 174.0, 184.0, 171.0, 173.0, 181.0, 187..."
count_humidity,float64,415,0,0.00,54,13.01,"[216.0, 212.0, 211.0, 214.0, 213.0, 215.0, 209..."
count_no2,float64,413,2,0.48,59,14.22,"[134.0, 125.0, 127.0, 122.0, 108.0, 115.0, 124..."
count_o3,float64,413,2,0.48,32,7.71,"[72.0, 69.0, 70.0, 67.0, 64.0, 66.0, 63.0, 68...."
count_pm10,float64,413,2,0.48,41,9.88,"[215.0, 216.0, 212.0, 203.0, 214.0, 205.0, 210..."
count_pm25,float64,413,2,0.48,45,10.84,"[212.0, 216.0, 213.0, 215.0, 211.0, 207.0, 210..."
count_precipitation,float64,234,181,43.61,65,15.66,"[102.0, 95.0, 8.0, nan, 11.0, 5.0, 48.0, 10.0,..."
count_pressure,float64,415,0,0.00,23,5.54,"[216.0, 201.0, 208.0, 195.0, 197.0, 205.0, 211..."
count_so2,float64,404,11,2.65,56,13.49,"[5.0, 12.0, 10.0, 11.0, 21.0, 8.0, 23.0, 18.0,..."
count_temperature,float64,413,2,0.48,49,11.81,"[208.0, 211.0, 206.0, 212.0, 207.0, 210.0, 204..."
count_wd,float64,413,2,0.48,63,15.18,"[216.0, 203.0, 213.0, 214.0, 207.0, 211.0, 215..."
count_wind-gust,float64,415,0,0.00,117,28.19,"[26.0, 30.0, 24.0, 20.0, 18.0, 17.0, 21.0, 106..."
count_wind-speed,float64,413,2,0.48,52,12.53,"[216.0, 203.0, 213.0, 214.0, 206.0, 211.0, 215..."

In [68]:
mask_vienna = (df_eda['City'] == "Vienna")
df_vienna = df_eda[mask_vienna]
overview(df_vienna)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Date,object,414,0,0.00,414,100.00,"[2024-01-01, 2024-01-02, 2024-01-03, 2024-01-0..."
Country,object,414,0,0.00,1,0.24,[AT]
City,object,414,0,0.00,1,0.24,[Vienna]
median_co,float64,397,17,4.11,1,0.24,"[0.1, nan]"
median_dew,float64,414,0,0.00,208,50.24,"[1.9, 0.4, 3.1, 2.1, 1.5, 3.2, -2.9, -8.5, -12..."
median_humidity,float64,414,0,0.00,244,58.94,"[72.7, 78.2, 68.5, 62.0, 75.4, 92.6, 86.6, 72...."
median_no2,float64,409,5,1.21,48,11.59,"[4.2, 14.7, 5.1, 2.8, 12.8, 9.6, 6.0, 12.4, 17..."
median_o3,float64,0,414,100.00,0,0.00,[nan]
median_pm10,float64,409,5,1.21,42,10.14,"[6.0, 9.0, 5.0, 3.0, 14.0, 10.0, 20.0, 34.0, 4..."
median_pm25,float64,410,4,0.97,55,13.29,"[17.0, 25.0, 9.0, 53.0, 50.0, 38.0, 63.0, 80.0..."
median_precipitation,float64,330,84,20.29,21,5.07,"[99.2, 99.0, 0.6, nan, 0.9, 0.2, 99.3, 99.1, 0..."
median_pressure,float64,414,0,0.00,275,66.43,"[993.2, 1009.9, 1000.8, 1002.4, 1007.7, 1004.8..."
median_so2,float64,410,4,0.97,11,2.66,"[1.1, 1.3, 1.6, 2.1, 1.8, 2.6, 0.6, 3.6, nan, ..."
median_temperature,float64,414,0,0.00,207,50.00,"[6.5, 5.0, 10.5, 5.9, 4.4, -0.1, -3.7, -6.6, -..."
median_wd,float64,0,414,100.00,0,0.00,[nan]
median_wind-gust,float64,414,0,0.00,125,30.19,"[9.3, 3.5, 11.6, 18.5, 3.6, 5.6, 13.5, 14.5, 5..."
median_wind-speed,float64,414,0,0.00,58,14.01,"[4.0, 1.5, 4.3, 9.0, 2.8, 6.0, 7.0, 2.6, 2.0, ..."
count_co,float64,397,17,4.11,78,18.84,"[36.0, 57.0, 50.0, 15.0, 51.0, 58.0, 28.0, 17...."
count_dew,float64,414,0,0.00,158,38.16,"[249.0, 247.0, 204.0, 254.0, 242.0, 258.0, 236..."
count_humidity,float64,414,0,0.00,59,14.25,"[408.0, 395.0, 366.0, 383.0, 358.0, 384.0, 385..."
count_no2,float64,409,5,1.21,66,15.94,"[351.0, 364.0, 363.0, 343.0, 362.0, 336.0, 348..."
count_o3,float64,0,414,100.00,0,0.00,[nan]
count_pm10,float64,409,5,1.21,97,23.43,"[356.0, 358.0, 311.0, 265.0, 361.0, 370.0, 366..."
count_pm25,float64,410,4,0.97,134,32.37,"[296.0, 292.0, 220.0, 146.0, 304.0, 328.0, 322..."
count_precipitation,float64,330,84,20.29,66,15.94,"[36.0, 27.0, 12.0, nan, 60.0, 62.0, 44.0, 3.0,..."
count_pressure,float64,414,0,0.00,59,14.25,"[408.0, 395.0, 366.0, 383.0, 358.0, 384.0, 385..."
count_so2,float64,410,4,0.97,89,21.50,"[59.0, 74.0, 61.0, 53.0, 49.0, 43.0, 75.0, 85...."
count_temperature,float64,414,0,0.00,37,8.94,"[408.0, 407.0, 406.0, 404.0, 405.0, 381.0, 360..."
count_wd,float64,0,414,100.00,0,0.00,[nan]
count_wind-gust,float64,414,0,0.00,150,36.23,"[336.0, 282.0, 323.0, 360.0, 273.0, 303.0, 342..."
count_wind-speed,float64,414,0,0.00,118,28.50,"[402.0, 354.0, 370.0, 405.0, 331.0, 404.0, 323..."

In [69]:
mask_buenos_aires = (df_eda['City'] == "Buenos Aires")
df_buenos_aires = df_eda[mask_buenos_aires]
overview(df_buenos_aires)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Date,object,404,0,0.00,404,100.00,"[2024-01-01, 2024-01-02, 2024-01-03, 2024-01-0..."
Country,object,404,0,0.00,1,0.25,[AR]
City,object,404,0,0.00,1,0.25,[Buenos Aires]
median_co,float64,383,21,5.20,69,17.08,"[1.9, 2.0, 2.1, 2.6, 3.1, 3.8, 3.4, 3.9, 3.3, ..."
median_dew,float64,396,8,1.98,172,42.57,"[15.8, 18.3, 18.6, 18.7, 19.0, 20.9, 19.7, 18...."
median_humidity,float64,403,1,0.25,228,56.44,"[63.0, 75.3, 77.1, 73.0, 72.6, 75.0, 78.4, 65...."
median_no2,float64,364,40,9.90,45,11.14,"[4.6, 6.0, 7.4, 7.8, 8.7, 11.9, 10.6, 6.4, 8.3..."
median_o3,float64,147,257,63.61,53,13.12,"[12.2, 13.5, 14.3, 17.9, 19.9, 50.0, 28.9, 25...."
median_pm10,float64,382,22,5.45,35,8.66,"[14.0, 18.0, 20.0, 22.0, 15.0, 19.0, 21.0, 17...."
median_pm25,float64,147,257,63.61,28,6.93,"[34.0, 46.0, 42.0, 25.0, 38.0, 30.0, 50.0, 65...."
median_precipitation,float64,89,315,77.97,26,6.44,"[99.0, 0.4, 0.3, nan, 0.5, 2.8, 1.0, 0.2, 1.2,..."
median_pressure,float64,403,1,0.25,186,46.04,"[1011.5, 1011.4, 1013.8, 1014.1, 1011.3, 1007...."
median_so2,float64,82,322,79.70,22,5.45,"[2.6, 0.6, 7.6, nan, 1.6, 19.8, 20.3, 18.8, 1...."
median_temperature,float64,403,1,0.25,192,47.52,"[24.2, 23.6, 24.1, 24.8, 25.9, 26.2, 23.9, 27...."
median_wd,float64,147,257,63.61,13,3.22,"[67.5, 112.5, 90.0, 45.0, nan, 135.0, 157.5, 2..."
median_wind-gust,float64,353,51,12.62,133,32.92,"[9.1, 11.3, 17.0, 14.4, 11.7, 8.6, 8.7, 5.2, 6..."
median_wind-speed,float64,404,0,0.00,56,13.86,"[3.3, 5.1, 8.2, 5.6, 3.7, 2.5, 3.1, 1.5, 3.2, ..."
count_co,float64,383,21,5.20,51,12.62,"[68.0, 70.0, 65.0, 71.0, 59.0, 55.0, 69.0, 57...."
count_dew,float64,396,8,1.98,28,6.93,"[44.0, 48.0, 45.0, 46.0, 47.0, 28.0, nan, 22.0..."
count_humidity,float64,403,1,0.25,50,12.38,"[92.0, 96.0, 93.0, 94.0, 95.0, 84.0, 71.0, 86...."
count_no2,float64,364,40,9.90,31,7.67,"[47.0, 45.0, 48.0, 46.0, nan, 23.0, 24.0, 30.0..."
count_o3,float64,147,257,63.61,17,4.21,"[24.0, 22.0, 14.0, 12.0, 8.0, 23.0, 11.0, nan,..."
count_pm10,float64,382,22,5.45,80,19.80,"[75.0, 69.0, 66.0, 68.0, 79.0, 74.0, 76.0, 84...."
count_pm25,float64,147,257,63.61,16,3.96,"[24.0, 22.0, 14.0, 12.0, 18.0, 23.0, 11.0, nan..."
count_precipitation,float64,89,315,77.97,16,3.96,"[2.0, 3.0, nan, 4.0, 5.0, 16.0, 8.0, 10.0, 12...."
count_pressure,float64,403,1,0.25,50,12.38,"[92.0, 96.0, 93.0, 94.0, 84.0, 72.0, 95.0, 87...."
count_so2,float64,82,322,79.70,23,5.69,"[8.0, 4.0, 6.0, nan, 12.0, 2.0, 22.0, 23.0, 15..."
count_temperature,float64,403,1,0.25,48,11.88,"[92.0, 96.0, 93.0, 94.0, 95.0, 84.0, 72.0, 87...."
count_wd,float64,147,257,63.61,19,4.70,"[21.0, 17.0, 10.0, 14.0, 20.0, 19.0, 12.0, nan..."
count_wind-gust,float64,353,51,12.62,51,12.62,"[48.0, 39.0, 24.0, 46.0, 36.0, 38.0, 33.0, 40...."
count_wind-speed,float64,404,0,0.00,72,17.82,"[92.0, 96.0, 93.0, 94.0, 85.0, 89.0, 95.0, 90...."

In [70]:
mask_sarajevo = (df_eda['City'] == "Sarajevo")
df_sarajevo = df_eda[mask_sarajevo]
overview(df_sarajevo)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Date,object,410,0,0.00,410,100.00,"[2024-01-01, 2024-01-02, 2024-01-03, 2024-01-0..."
Country,object,410,0,0.00,1,0.24,[BA]
City,object,410,0,0.00,1,0.24,[Sarajevo]
median_co,float64,392,18,4.39,98,23.90,"[1.6, 2.1, 1.8, 1.4, 0.6, 3.4, 2.0, 2.6, 2.3, ..."
median_dew,float64,409,1,0.24,103,25.12,"[6.0, 4.0, 5.0, 2.2, 7.0, 5.2, -2.5, -5.0, -6...."
median_humidity,float64,410,0,0.00,131,31.95,"[96.5, 89.5, 84.0, 100.0, 76.0, 80.5, 92.0, 86..."
median_no2,float64,392,18,4.39,106,25.85,"[15.6, 11.0, 17.9, 14.7, 6.0, 10.1, 6.4, 11.5,..."
median_o3,float64,392,18,4.39,161,39.27,"[25.2, 23.2, 27.7, 23.6, 28.9, 44.7, 14.3, 18...."
median_pm10,float64,392,18,4.39,87,21.22,"[21.0, 20.0, 11.0, 16.0, 17.0, 10.0, 8.0, 24.0..."
median_pm25,float64,405,5,1.22,89,21.71,"[76.0, 74.0, 61.0, 70.0, 80.0, 50.0, 72.0, 55...."
median_precipitation,float64,158,252,61.46,28,6.83,"[0.2, 99.4, 99.5, 0.9, 99.0, 99.2, 0.6, nan, 9..."
median_pressure,float64,410,0,0.00,83,20.24,"[1013.0, 1010.0, 1008.0, 1011.0, 1000.0, 995.0..."
median_so2,float64,392,18,4.39,82,20.00,"[6.1, 5.1, 5.6, 4.6, 3.6, 4.1, 6.6, 23.4, 12.7..."
median_temperature,float64,410,0,0.00,127,30.98,"[7.0, 5.2, 5.5, 5.7, 11.0, 6.0, -1.0, -3.0, -2..."
median_wd,float64,0,410,100.00,0,0.00,[nan]
median_wind-gust,float64,93,317,77.32,27,6.59,"[6.1, nan, 11.3, 13.3, 9.7, 12.8, 11.8, 14.4, ..."
median_wind-speed,float64,410,0,0.00,28,6.83,"[1.5, 1.0, 1.2, 4.1, 2.0, 3.0, 2.5, 1.8, 0.7, ..."
count_co,float64,392,18,4.39,59,14.39,"[140.0, 141.0, 135.0, 134.0, 142.0, 130.0, 136..."
count_dew,float64,409,1,0.24,45,10.98,"[135.0, 132.0, 141.0, 144.0, 129.0, 114.0, 138..."
count_humidity,float64,410,0,0.00,30,7.32,"[144.0, 129.0, 138.0, 55.0, 142.0, 137.0, 135...."
count_no2,float64,392,18,4.39,61,14.88,"[115.0, 118.0, 126.0, 138.0, 128.0, 114.0, 132..."
count_o3,float64,392,18,4.39,41,10.00,"[144.0, 141.0, 132.0, 66.0, 6.0, 90.0, 117.0, ..."
count_pm10,float64,392,18,4.39,53,12.93,"[121.0, 120.0, 136.0, 144.0, 139.0, 66.0, 6.0,..."
count_pm25,float64,405,5,1.22,58,14.15,"[98.0, 96.0, 126.0, 142.0, 136.0, 132.0, 144.0..."
count_precipitation,float64,158,252,61.46,6,1.46,"[6.0, 9.0, 3.0, 12.0, nan, 2.0, 4.0]"
count_pressure,float64,410,0,0.00,19,4.63,"[144.0, 142.0, 138.0, 55.0, 143.0, 141.0, 139...."
count_so2,float64,392,18,4.39,105,25.61,"[115.0, 117.0, 126.0, 127.0, 131.0, 121.0, 65...."
count_temperature,float64,410,0,0.00,19,4.63,"[144.0, 142.0, 138.0, 55.0, 143.0, 141.0, 139...."
count_wd,float64,0,410,100.00,0,0.00,[nan]
count_wind-gust,float64,93,317,77.32,20,4.88,"[6.0, nan, 24.0, 42.0, 12.0, 66.0, 60.0, 78.0,..."
count_wind-speed,float64,410,0,0.00,22,5.37,"[144.0, 141.0, 138.0, 142.0, 55.0, 143.0, 132...."

In [ ]:
Abu Dhabi