In [ ]:
import pandas as pd

In [50]:
file_path = "/Users/mareikekeller/air_quality/data/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")

In [51]:
df.sample(20)

,Date,Country,City,Specie,count,min,max,median,variance
645050,2024-04-21,MX,Morelia,pm25,23,18.0,70.0,51.0,1809.29
23598,2024-04-04,TW,Taipei,pm25,738,21.0,122.0,76.0,2091.45
1739187,2024-12-26,MY,Kuantan,pressure,100,1009.0,1014.0,1011.0,14.71
927982,2024-03-13,HU,Miskolc,pm10,120,3.0,41.0,16.0,697.65
938082,2024-08-23,NL,Utrecht,wind-speed,63,0.2,6.5,3.0,32.69
21060,2024-11-16,TW,Taipei,wind-gust,120,1.0,23.7,16.7,633.21
1630675,2024-04-03,CN,Wuhan,wind-speed,216,0.5,4.6,2.5,11.99
1570157,2024-07-02,CN,Foshan,co,81,2.8,7.3,3.7,10.12
1531247,2024-06-15,CN,Shenzhen,wind-speed,138,0.1,7.7,2.6,43.85
897840,2025-01-29,IN,Kolkata,humidity,264,22.2,99.9,73.7,3400.89
328630,2024-05-29,AU,Wollongong,pm25,42,2.0,66.0,47.0,3388.25
260136,2024-05-15,US,Madison,wind-speed,44,0.1,3.4,1.6,6.86
1796620,2025-02-08,RE,Saint-Denis,pm10,91,2.0,28.0,7.0,561.64
2175776,2024-08-17,JP,Utsunomiya,co,117,1.2,2.3,1.2,3.05
935679,2024-01-31,HU,Budapest,dew,22,-8.0,-2.0,-3.5,43.90
694721,2024-03-15,PL,Tarn처w,wind-speed,44,0.2,2.0,1.0,3.40
1598695,2024-06-24,CN,Shijiazhuang,o3,213,17.5,66.9,42.3,1862.30
1529313,2024-08-16,CN,Guiyang,no2,72,1.4,13.8,4.6,65.83
1435820,2024-01-23,TR,Trabzon,humidity,120,67.5,88.3,80.0,317.89
2312696,2024-04-20,IL,Netanya,no2,66,0.4,18.8,2.8,171.16

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
# Einzigartige Werte in der Spalte Specie
einzigartige_werte = df['Specie'].unique()
print(einzigartige_werte)

In [ ]:
# Einzigartige Werte in der Spalte Country
einzigartige_werte = df['Country'].unique()
countries_sorted = sorted(einzigartige_werte)

for country in countries_sorted:
    print(country)

In [ ]:
mask_top_five_cities = (df['City'] == "Abu Dhabi") | (df['City'] == "Buenos Aires") | (df['City'] == "Vienna") | (df['City'] == "Brisbane") | (df['City'] == "Sarajevo")
df_top_five_cities = df[mask_top_five_cities]
df_top_five_cities.sample(50)

In [ ]:
mask_year = df_top_five_cities['Date'].str.startswith('2019')
df_top_five_cities_2019 = df_top_five_cities[mask_year]
df_top_five_cities_2019

In [ ]:
print(f"{'column':<20}{'# unique values'}")
print("-"*40)
for column in df.columns:
    print(f"{column:<20}{df[column].nunique()}")

In [52]:
mask_london = (df['City'] == "London") & (df['Date'] == "2025-01-08")
df_london = df[mask_london]
print(df_london)

               Date Country    City       Specie  count    min     max  \
2013097  2025-01-08      CA  London         pm25     33    5.0    17.0
2013246  2025-01-08      CA  London          no2     48    0.6     9.5
2013768  2025-01-08      CA  London     humidity     47   75.0    90.8
2014141  2025-01-08      CA  London           o3     48   24.1    33.6
2014679  2025-01-08      CA  London     pressure     47  986.2  1022.8
2014973  2025-01-08      CA  London   wind-speed     43    0.2     6.4
2015342  2025-01-08      CA  London    wind-gust     23    0.4     8.4
2016025  2025-01-08      CA  London          dew     20  -13.0    -9.0
2016297  2025-01-08      CA  London  temperature     47  -11.0    -6.9
2240923  2025-01-08      GB  London   wind-speed    473    0.1     5.7
2241376  2025-01-08      GB  London    wind-gust    349    0.2    10.8
2241510  2025-01-08      GB  London           co    192    1.5     6.8
2241860  2025-01-08      GB  London  temperature    576   -2.0     3.0
2242542  2025-01-08      GB  London         pm10    483    2.0    52.0
2242637  2025-01-08      GB  London     humidity    576   80.0    99.0
2243236  2025-01-08      GB  London          no2    462    4.3    38.0
2243853  2025-01-08      GB  London          dew     72   -1.0     1.0
2244234  2025-01-08      GB  London           o3    226    0.6    20.8
2244584  2025-01-08      GB  London          so2    167    0.3     2.7
2244883  2025-01-08      GB  London         pm25    479    5.0    97.0
2245376  2025-01-08      GB  London     pressure    576  997.2  1030.7

         median  variance
2013097     9.0    109.39
2013246     1.2     71.54
2013768    84.5    182.32
2014141    28.9     69.99
2014679   990.0   2768.35
2014973     2.7     17.57
2015342     3.8     52.41
2016025   -12.0     18.62
2016297    -9.2     11.29
2240923     2.2     19.42
2241376     5.3     79.36
2241510     4.6     24.95
2241860     1.1     12.07
2242542    14.0    391.86
2242637    90.0    140.53
2243236    21.5    492.28
2243853     0.0      5.42
2244234     6.0    266.90
2244584     1.0      2.54
2244883    39.0   2006.72
2245376  1002.3    334.12

In [ ]:
# unique values per column
print(f"{'column':<20}{'# unique values'}")
print("-"*40)
for column in df.columns:
    print(f"{column:<20}{df[column].nunique()}")

In [ ]:
# All measurements for London on 2025-01-08
mask_london = (df['City'] == "London") & (df['Date'] == "2025-01-08")
df_london = df[mask_london]
df_london

In [ ]:
# Are there any missing values?
df.isna().sum()

In [ ]:
# Which data types are in the dataframe?
df.dtypes

In [ ]:
# How many measurements are there for each country?
pd.crosstab(df['Country'], 'count').sort_values('count', ascending=False)

In [ ]:
# Whoch countries have the highest number of measurements?
countries_count = df.loc[:, 'Country'].value_counts()
print(countries_count.head(10))

In [ ]:
# Whoch cities per country have the highest number of measurements?
city_counts = df.groupby(["Country", "City"]).size().reset_index(name="count")

# F체r jedes Land die Stadt mit den meisten Eintr채gen finden
max_city_per_country = city_counts.loc[city_counts.groupby("Country")["count"].idxmax()]

# Ergebnisse anzeigen
print(max_city_per_country)