In [ ]:
#als nächste: die jahre berücktrichten!!!!!

In [2]:
import os
import pandas as pd
import json
import requests
from meteostat import Daily, Stations
from datetime import datetime
from data_preparation import download_files, files, output_folder
from data_preparation import data_import, data_cleaning, weather_data, geo_data

In [79]:
df=data_import()
df.head()

Spalte 'Specie' fehlt in airquality-covid19-cities.json
waqi-covid-2022Q1.csv enthält nach Duplikat-Entfernung keine Daten mehr.

         Date Country    City Specie  count  min   max  median  variance
0  2015-01-06      KR  Jeonju     co    124  0.1  12.3     4.5     55.74
1  2015-01-22      KR  Jeonju     co    116  4.5  10.0     6.7     16.09
2  2015-03-30      KR  Jeonju     co    118  1.2  11.2     5.6     35.98
3  2015-05-27      KR  Jeonju     co     93  2.3   5.6     3.4      6.54
4  2015-02-03      KR  Jeonju     co    133  4.5  13.4     7.8     39.24

In [80]:
def data_cleaning(df):
    """Bereinigung der Daten
    - nicht benötigte Spalten löschen
    - Zusammenfassung der Daten nach Datum, Land, Stadt und Spezies, so dass nur ein Messwert je Species (Median) pro Tag/ Stadt verbleibt
    - Spalte Species aufteilen
    - df als csv speichern im Datenverzeichnis
    """
    df = df.copy()

    df = df.drop(columns=['variance', 'min', 'max'], errors='ignore')

    df = df.groupby(["Date", "Country", "City", "Specie"], as_index=False).agg({"median": "mean"})  

    df = df.pivot(index=["Date", "Country", "City"], columns="Specie", values='median').reset_index()

    df["City"] = df["City"].str.lower().str.strip()
    df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')

    df = geo_data(df)

    df = weather_data(df)

    df = convert_date(df)

    df['City'] = df['City'].str.capitalize()

    df = population_data(df)

    #spalten sortieren
    df = df[['Year', 'Month', 'Day', 'Country', 'City', 'Latitude', 'Longitude', 'Population', 'Co', 'No2', 'O3', 'Pm10', 'Pm25',
       'Pressure', 'So2', 'Temperature', 'Wind-gust', 'Wind-speed', 'Dew', 'Humidity', 'Tavg', 'Tmin', 'Tmax', 'Prcp', 'Wdir', 'Wspd', 'Pres',
        ]]

    #Redundante Wetter-Spalten löschen
    df = df.drop(columns=[['Precipitation', 'Pressure', 'Temperature', 'Uvi', 'Wd', 'Wind-gust', 'Wind-speed']], errors='ignore')
    
    #Spalten mit mehr als 90% NaNs löschen
    df = df.loc[:, df.isnull().mean() < 0.9]

    output_path = './data/cleaned_data.csv'
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    df.to_csv(output_path, index=False)
    print(f"✅ Datei wurde gespeichert: {output_path}")

    return df

In [83]:
df = df.copy()
df = data_cleaning(df)

Keine Geodaten gefunden für: washington d.c.
✅ Wetterdaten gesammelt für 578 Städte
✅ Datei wurde gespeichert: ./data/population_data.csv
✅ Datei wurde gespeichert: ./data/cleaned_data.csv

In [84]:
df.head()

,Year,Month,Day,Country,City,Latitude,Longitude,Population,Co,No2,...,Wind-speed,Dew,Humidity,Tavg,Tmin,Tmax,Prcp,Wdir,Wspd,Pres
0,2014,12,29,AT,Graz,47.06667,15.45000,269997.0,0.1,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,12,29,AT,Innsbruck,47.26266,11.39454,124579.0,0.1,25.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,12,29,AT,Linz,48.30639,14.28611,193814.0,0.1,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,12,29,AT,Salzburg,47.79941,13.04399,146631.0,0.1,21.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,12,29,AT,Vienna,48.20849,16.37208,NaN,0.1,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df.dtypes

Year             int64
Month            int32
Day              int32
Country         object
City            object
Latitude       float64
Longitude      float64
Population     float64
Co             float64
No2            float64
O3             float64
Pm10           float64
Pm25           float64
Pressure       float64
So2            float64
Temperature    float64
Wind-gust      float64
Wind-speed     float64
Dew            float64
Humidity       float64
Tavg           float64
Tmin           float64
Tmax           float64
Prcp           float64
Wdir           float64
Wspd           float64
Pres           float64
dtype: object

In [ ]:
# alle raus, wo mehr al 90% der daten fehlen (aqi, D, Mepaqi, Neph, Pm1, Pol, Precipittion, psi, Temperature	Uvi	Wd	Wind-gust	Wind-speed ) # type: ignore
# wetterdaten aus einer quelle
# spalten sortieren
# wo sind die pop daten

In [71]:
# # Funktion für Übersicht über dtypes, missing values, unique values etc.
def overview(df):
    '''
     Erstelle einen Überblick über einige Eigenschaften der Spalten eines DataFrames.
     VARs
         df: Der zu betrachtende DataFrame
     RETURNS:
         None
     '''
    display(pd.DataFrame({'dtype': df.dtypes,
                           'total': df.count(),
                           'missing': df.isna().sum(),
                           'missing%': df.isna().mean()*100,
                           'n_uniques': df.nunique(),
                           'uniques%': df.nunique()/df.shape[0]*100,
                           'uniques': [df[col].unique() for col in df.columns]
                          }))
    #return overview(df)

In [72]:
overview(df)

,dtype,total,missing,missing%,n_uniques,uniques%,uniques
Country,object,1693987,0,0.000000,95,0.005608,"[AT, AU, BE, BO, BR, CA, CH, CL, CN, CO, CY, C..."
City,object,1693987,0,0.000000,616,0.036364,"[Graz, Innsbruck, Linz, Salzburg, Vienna, Bris..."
Aqi,float64,39782,1654205,97.651576,329,0.019422,"[nan, 32.0, 35.0, 29.0, 21.0, 40.0, 28.0, 31.0..."
Co,float64,1062683,631304,37.267346,1012,0.059741,"[0.1, 1.9, 2.1, nan, 2.3, 2.0, 3.4, 5.5, 3.8, ..."
D,float64,2083,1691904,99.877036,67,0.003955,"[nan, 0.0, 9.0, 10.0, 11.0, 8.0, 15.0, 18.0, 1..."
Dew,float64,999185,694802,41.015781,661,0.039020,"[nan, 16.0, 14.0, 0.5, 2.5, 1.0, 11.0, 18.0, 2..."
Humidity,float64,1305907,388080,22.909267,1131,0.066766,"[nan, 0.0, 100.0, 99.0, 94.0, 84.0, 82.0, 66.0..."
Mepaqi,float64,2778,1691209,99.836008,809,0.047757,"[nan, 81.0, 81.3, 48.2, 115.8, 59.5, 62.9, 62...."
Neph,float64,6730,1687257,99.602712,65,0.003837,"[nan, 5.0, 7.0, 14.0, 13.0, 15.0, 19.0, 20.0, ..."
No2,float64,1407779,286208,16.895525,1302,0.076860,"[9.0, 25.6, 14.2, 21.1, 4.6, 0.7, nan, 6.5, 4...."
O3,float64,1320341,373646,22.057194,1527,0.090142,"[nan, 3.7, 4.3, 12.8, 15.2, 21.0, 17.6, 6.1, 2..."
Pm1,float64,5820,1688167,99.656432,461,0.027214,"[nan, 153.0, 154.0, 155.0, 158.0, 161.0, 142.0..."
Pm10,float64,1352689,341298,20.147616,1186,0.070012,"[13.0, 25.0, 21.0, 20.0, 11.0, 9.0, 16.0, 14.0..."
Pm25,float64,1431224,262763,15.511512,1046,0.061748,"[nan, 74.0, 65.0, 20.0, 19.0, 13.0, 9.0, 27.0,..."
Pol,float64,4790,1689197,99.717235,8,0.000472,"[nan, 0.0, 8.0, -549.6, -2316.8, -3065.6, -225..."
Precipitation,float64,139092,1554895,91.789075,1359,0.080225,"[nan, 2.0, 992.0, 0.8, 4.2, 4.5, 1.8, 2.1, 2.2..."
Pressure,float64,1301363,392624,23.177510,5513,0.325445,"[nan, 1026.0, 1028.0, 1030.0, 1027.0, 1004.5, ..."
Psi,float64,363,1693624,99.978571,49,0.002893,"[nan, 57.0, 41.0, 46.0, 48.0, 39.0, 34.0, 27.0..."
So2,float64,1161514,532473,31.433122,1182,0.069776,"[1.6, 2.1, 2.6, 1.1, nan, 4.3, 2.9, 5.8, 1.5, ..."
Temperature,float64,1307669,386318,22.805252,993,0.058619,"[nan, 0.0, 7.9, 7.1, 2.9, 4.0, 3.8, 8.1, 10.1,..."
Uvi,float64,29089,1664898,98.282809,57,0.003365,"[nan, 4.3, -1.0, 3.0, 1.0, 2.0, 3.9, 4.0, 3.8,..."
Wd,float64,84482,1609505,95.012831,2974,0.175562,"[nan, 200.0, 130.0, 170.0, 340.0, 330.0, 0.0, ..."
Wind-gust,float64,775132,918855,54.242152,597,0.035242,"[nan, 1.5, 8.8, 1.7, 6.5, 0.9, 15.4, 18.3, 3.4..."
Wind-speed,float64,1281796,412191,24.332595,965,0.056966,"[nan, 0.9, 1.8, 3.1, 0.0, 6.0, 10.0, 9.0, 5.0,..."
Latitude,float64,1691158,2829,0.167002,617,0.036423,"[47.06667, 47.26266, 48.30639, 47.79941, 48.20..."
Longitude,float64,1691158,2829,0.167002,616,0.036364,"[15.45, 11.39454, 14.28611, 13.04399, 16.37208..."
Tavg,float64,1404736,289251,17.075161,789,0.046577,"[nan, -4.0, 25.4, 25.1, 2.8, 2.2, 1.3, 2.6, 20..."
Tmin,float64,1378953,315034,18.597191,776,0.045809,"[nan, -6.4, 15.1, 25.2, 23.7, 13.6, 12.8, 11.2..."
Tmax,float64,1376841,317146,18.721867,826,0.048761,"[nan, 0.4, 37.0, 31.3, 26.9, 22.4, 24.6, 27.9,..."
Prcp,float64,1042298,651689,38.470720,1384,0.081701,"[nan, 0.0, 12.2, 129.4, 0.2, 6.6, 0.5, 2.8, 3...."
Wdir,float64,1174115,519872,30.689256,361,0.021311,"[nan, 18.0, 35.0, 209.0, 210.0, 205.0, 188.0, ..."
Wspd,float64,1243861,450126,26.571987,655,0.038666,"[nan, 3.5, 11.5, 22.1, 17.4, 17.7, 19.5, 18.6,..."
Pres,float64,1207692,486295,28.707127,926,0.054664,"[nan, 1013.2, 1033.4, 1034.2, 1035.3, 1034.0, ..."
Year,int64,1693987,0,0.000000,12,0.000708,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 202..."
Month,int32,1693987,0,0.000000,12,0.000708,"[12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"
Day,int32,1693987,0,0.000000,31,0.001830,"[29, 30, 31, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11..."
Population,float64,363384,1330603,78.548596,1289,0.076093,"[269997.0, 124579.0, 193814.0, 146631.0, nan, ..."

In [75]:
df.columns

Index(['Country', 'City', 'Co', 'Dew', 'Humidity', 'No2', 'O3', 'Pm10', 'Pm25',
       'Pressure', 'So2', 'Temperature', 'Wind-gust', 'Wind-speed', 'Latitude',
       'Longitude', 'Tavg', 'Tmin', 'Tmax', 'Prcp', 'Wdir', 'Wspd', 'Pres',
       'Year', 'Month', 'Day', 'Population'],
      dtype='object')

In [74]:
df = df.loc[:, df.isnull().mean() < 0.9]
df.head()

,Country,City,Co,Dew,Humidity,No2,O3,Pm10,Pm25,Pressure,...,Tmin,Tmax,Prcp,Wdir,Wspd,Pres,Year,Month,Day,Population
0,AT,Graz,0.1,NaN,NaN,9.0,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,269997.0
1,AT,Innsbruck,0.1,NaN,NaN,25.6,NaN,25.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,124579.0
2,AT,Linz,0.1,NaN,NaN,14.2,NaN,25.0,74.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,193814.0
3,AT,Salzburg,0.1,NaN,NaN,21.1,NaN,21.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,146631.0
4,AT,Vienna,0.1,NaN,NaN,9.0,NaN,20.0,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN

In [40]:
def convert_date(df):
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])

    # Split 'Date' column into 'year', 'month' and 'day'
    df['year'] = df['Date'].dt.year
    df['month'] = df['Date'].dt.month
    df['day'] = df['Date'].dt.day

    # Remove 'Date' column
    if 'Date' in df.columns:
        df.drop(columns=['Date'], inplace=True)
    
    return (df)

In [ ]:
df_=convert_date(df)
df_.head()

,Country,City,aqi,co,d,dew,humidity,mepaqi,neph,no2,...,tavg,tmin,tmax,prcp,wdir,wspd,pres,year,month,day
0,AT,graz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29
1,AT,innsbruck,NaN,0.1,NaN,NaN,NaN,NaN,NaN,25.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29
2,AT,linz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29
3,AT,salzburg,NaN,0.1,NaN,NaN,NaN,NaN,NaN,21.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29
4,AT,vienna,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29

In [ ]:
def population_data(df):
    '''
    Fügt dem jeder Stadt Einwohner hinzu
    '''
    df = df.copy()
    
    df_population = pd.read_csv(
                    './data/population.csv',
                    sep=',', 
                    header=0,
                    engine='python',  # Hilft oft bei Parsing-Problemen
                    on_bad_lines='skip',  # Methode zum Überspringen von fehlerhaften Zeilen
                    encoding='utf-8')  # Falls Sonderzeichen vorhanden sind

    df_population = df_population[['City', 'Value', 'Year']]

    df_population.rename(columns={'Value': 'Population'}, inplace=True)

    df_population.dropna(inplace=True)
    df_population['Population'] = df_population['Population'].astype(int)

    # Merge der beiden DataFrames basierend auf der "City"-Spalte
    df.columns = df.columns.str.capitalize()
    df['Year'] = df['Year'].astype(int)
    df_population['Year'] = df_population['Year'].astype(int)
    df = pd.merge(df, df_population, on=['City', 'Year'], how='left')
    

    output_path = './data/population_data.csv'
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    df_population.to_csv(output_path, index=False)
    print(f"✅ Datei wurde gespeichert: {output_path}")

    return(df)

In [63]:
df_['City'] = df_['City'].str.capitalize()
df_.head()

,Country,City,Aqi,Co,D,Dew,Humidity,Mepaqi,Neph,No2,...,Tmax,Prcp,Wdir,Wspd,Pres,Year,Month,Day,Population_x,Population_y
0,AT,Graz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
1,AT,Innsbruck,NaN,0.1,NaN,NaN,NaN,NaN,NaN,25.6,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
2,AT,Linz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,14.2,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
3,AT,Salzburg,NaN,0.1,NaN,NaN,NaN,NaN,NaN,21.1,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
4,AT,Vienna,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN

In [44]:
df_= population_data(df_)
print(df_.shape)
df_.head()

✅ Datei wurde gespeichert: ./data/population_data.csv
(1568540, 38)

,Country,City,Aqi,Co,D,Dew,Humidity,Mepaqi,Neph,No2,...,Tmax,Prcp,Wdir,Wspd,Pres,Year,Month,Day,Population_x,Population_y
0,AT,graz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
1,AT,innsbruck,NaN,0.1,NaN,NaN,NaN,NaN,NaN,25.6,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
2,AT,linz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,14.2,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
3,AT,salzburg,NaN,0.1,NaN,NaN,NaN,NaN,NaN,21.1,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN
4,AT,vienna,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN,NaN

In [31]:
df_population = population_data(df)
df_population.head()

✅ Datei wurde gespeichert: ./data/population_data.csv

        City  Population  Year
0  MARIEHAMN       11785  2023
1  MARIEHAMN       11750  2022
2  MARIEHAMN       11724  2021
3  MARIEHAMN       11692  2020
4  MARIEHAMN       11711  2019

In [32]:
df.columns = df.columns.str.capitalize()
df['Year'] = df['Year'].astype(int)
df_population['Year'] = df_population['Year'].astype(int)
df = pd.merge(df, df_population, on=['City', 'Year'], how='left')

In [33]:
df.head()

,Country,City,Aqi,Co,D,Dew,Humidity,Mepaqi,Neph,No2,...,Tmin,Tmax,Prcp,Wdir,Wspd,Pres,Year,Month,Day,Population
0,AT,graz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN
1,AT,innsbruck,NaN,0.1,NaN,NaN,NaN,NaN,NaN,25.6,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN
2,AT,linz,NaN,0.1,NaN,NaN,NaN,NaN,NaN,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN
3,AT,salzburg,NaN,0.1,NaN,NaN,NaN,NaN,NaN,21.1,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN
4,AT,vienna,NaN,0.1,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2014,12,29,NaN

In [ ]:
def convert_date(df):
    """
    Teilt die Spalte Date in Year, Month, Day auf
    """
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])

    # Split 'Date' column into 'year', 'month' and 'day'
    df['year'] = df['Date'].dt.year
    df['month'] = df['Date'].dt.month
    df['day'] = df['Date'].dt.day

    # Remove 'Date' column
    if 'Date' in df.columns:
        df.drop(columns=['Date'], inplace=True)

In [ ]:
df=data_cleaning(df)
df.head()

In [ ]:
df_population = pd.read_csv(
    '/Users/whypk/01Projekte/air_quality/data/population.csv',
    sep=',', 
    header=0,
    engine='python',  # Hilft oft bei Parsing-Problemen
    on_bad_lines='skip',  # Methode zum Überspringen von fehlerhaften Zeilen
    encoding='utf-8'  # Falls Sonderzeichen vorhanden sind
)

In [ ]:
print(df_population.head())
print(df_population.columns)
print(df_population.dtypes)
print(df_population.shape)

In [ ]:
df_population= df_population[['City', 'Value', 'Year']]
df_population.head()

In [ ]:

#df_population['population'] = df_population['population'].astype(int)
#df_population["City"] = df_population["City"].str.lower().str.strip()
df_population.rename(columns={'Value': 'Population'}, inplace=True)
df_population.head()

In [ ]:
df_population.dropna(inplace=True)
df_population['Population'] = df_population['Population'].astype(int)
df_population.head()

In [ ]:
df_ = pd.merge(df, df_population, on=['City', 'Year'], how='left')

In [ ]:
output_path = './data/population_data.csv'
os.makedirs(os.path.dirname(output_path), exist_ok=True)
df_population.to_csv(output_path, index=False)
print(f"✅ Datei wurde gespeichert: {output_path}")

In [ ]:
# Merge der beiden DataFrames basierend auf der "City"-Spalte
df_merged = pd.merge(df, df_population, on='City', how='left')

In [ ]:
# Funktion für Übersicht über dtypes, missing values, unique values etc.
def overview(df):
    '''
    Erstelle einen Überblick über einige Eigenschaften der Spalten eines DataFrames.
    VARs
        df: Der zu betrachtende DataFrame
    RETURNS:
        None
    '''
    display(pd.DataFrame({'dtype': df.dtypes,
                          'total': df.count(),
                          'missing': df.isna().sum(),
                          'missing%': df.isna().mean()*100,
                          'n_uniques': df.nunique(),
                          'uniques%': df.nunique()/df.shape[0]*100,
                          'uniques': [df[col].unique() for col in df.columns]
                         }))
overview(df_population)

In [ ]:
df_filtered_population = df_population[df_population['City'].isin(df['City'])][['Country or Area','City', 'Year', 'City type', 'Value']]
df_filtered_population['Value'] = df_filtered_population['Value'].astype(int)
df_filtered_population.head()