In [2]:
import pandas as pd
import numpy as np
import os


from data_combine_clean import data_import
from data_combine_clean import add_geodata
from data_combine_clean import data_cleaning

In [3]:
data_import()

c:\Users\whypk\01Projekte\air_quality\data_combine_clean.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dataframes, ignore_index=True)

,Date,Country,City,Specie,count,min,max,median,variance
0,2015-01-06,KR,Jeonju,co,124,0.1,12.3,4.5,55.74
1,2015-01-22,KR,Jeonju,co,116,4.5,10.0,6.7,16.09
2,2015-03-30,KR,Jeonju,co,118,1.2,11.2,5.6,35.98
3,2015-05-27,KR,Jeonju,co,93,2.3,5.6,3.4,6.54
4,2015-02-03,KR,Jeonju,co,133,4.5,13.4,7.8,39.24
...,...,...,...,...,...,...,...,...,...
14191264,2025-01-07,SE,Uppsala,wind-speed,48,1.2,9.0,6.9,35.25
14191265,2025-01-28,SE,Uppsala,wind-speed,48,1.5,3.8,2.3,3.51
14191266,2024-01-13,SE,Uppsala,wind-speed,48,1.2,7.4,3.3,43.75
14191267,2024-08-04,SE,Uppsala,wind-speed,40,0.2,4.6,1.0,10.42
14191268,2024-09-15,SE,Uppsala,wind-speed,46,0.7,2.5,1.5,2.25

In [5]:
df=__

In [6]:
data_cleaning(df)

✅ Datei wurde gespeichert: ./data/city_per_country.csv
✅ Datei wurde gespeichert: ./data/cleaned_data.csv

Specie,Date,Country,City,aqi,co,d,dew,humidity,mepaqi,no2,...,pol,precipitation,pressure,psi,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2014-12-29,AT,Vienna,NaN,0.1,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,2.6,NaN,NaN,NaN,NaN,NaN
1,2014-12-29,AU,Brisbane,NaN,1.9,NaN,NaN,NaN,NaN,4.6,...,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN
2,2014-12-29,BE,Brussels,NaN,0.1,NaN,NaN,NaN,NaN,23.4,...,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN
3,2014-12-29,BO,Cochabamba,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-29,BR,São Paulo,NaN,5.5,NaN,NaN,NaN,NaN,17.9,...,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225855,2025-02-20,UG,Kampala,NaN,NaN,NaN,20.0,88.0,NaN,NaN,...,NaN,NaN,1015.0,NaN,NaN,21.5,NaN,NaN,NaN,2.3
225856,2025-02-20,UZ,Tashkent,NaN,6.8,NaN,2.0,72.5,NaN,4.6,...,NaN,NaN,1023.0,NaN,0.6,6.5,NaN,NaN,NaN,1.5
225857,2025-02-20,VN,Hanoi,NaN,5.0,NaN,17.0,96.5,NaN,2.0,...,NaN,NaN,1019.0,NaN,6.0,17.0,NaN,NaN,NaN,1.0
225858,2025-02-20,XK,Pristina,NaN,NaN,NaN,NaN,77.1,NaN,NaN,...,NaN,NaN,1031.1,NaN,NaN,-9.7,NaN,NaN,0.3,0.1
225859,2025-02-20,ZA,Vereeniging,NaN,NaN,NaN,NaN,99.0,NaN,3.0,...,NaN,0.0,1022.4,NaN,0.8,15.0,NaN,NaN,6.1,1.0

In [8]:
add_geodata(df)

,Date,Country,City,Specie,count,min,max,median,variance,Latitude,Longitude
0,2015-01-06,KR,jeonju,co,124,0.1,12.3,4.5,55.74,35.82194,127.14889
1,2015-01-22,KR,jeonju,co,116,4.5,10.0,6.7,16.09,35.82194,127.14889
2,2015-03-30,KR,jeonju,co,118,1.2,11.2,5.6,35.98,35.82194,127.14889
3,2015-05-27,KR,jeonju,co,93,2.3,5.6,3.4,6.54,35.82194,127.14889
4,2015-02-03,KR,jeonju,co,133,4.5,13.4,7.8,39.24,35.82194,127.14889
...,...,...,...,...,...,...,...,...,...,...,...
14284420,2025-01-07,SE,uppsala,wind-speed,48,1.2,9.0,6.9,35.25,59.85882,17.63889
14284421,2025-01-28,SE,uppsala,wind-speed,48,1.5,3.8,2.3,3.51,59.85882,17.63889
14284422,2024-01-13,SE,uppsala,wind-speed,48,1.2,7.4,3.3,43.75,59.85882,17.63889
14284423,2024-08-04,SE,uppsala,wind-speed,40,0.2,4.6,1.0,10.42,59.85882,17.63889
14284424,2024-09-15,SE,uppsala,wind-speed,46,0.7,2.5,1.5,2.25,59.85882,17.63889

In [ ]:
import pandas as pd
from meteostat import Daily, Stations
from datetime import datetime

# Liste der Städte mit Koordinaten und Namen
cities = [
    {"name": "Berlin", "lat": 52.5200, "lon": 13.4050},
    {"name": "Hamburg", "lat": 53.5511, "lon": 9.9937},
    {"name": "München", "lat": 48.1351, "lon": 11.5820}
]

# Zeitspanne festlegen
start = datetime(2024, 1, 1)
end = datetime(2024, 1, 31)

# DataFrame für alle Städte vorbereiten
all_data = pd.DataFrame()

# Daten für jede Stadt abrufen und hinzufügen
for city in cities:
    # Nächste Wetterstation suchen
    stations = Stations().nearby(city['lat'], city['lon'])
    station = stations.fetch(1)

    # Tägliche Wetterdaten abrufen
    data = Daily(station.index[0], start, end)
    data = data.fetch()

    # Stadtname hinzufügen
    data["city"] = city["name"]

    # Daten in den Gesamtdaten-Frame einfügen
    all_data = pd.concat([all_data, data])

# Index zurücksetzen
all_data.reset_index(inplace=True)

# Ergebnis anzeigen
print(all_data.head())